@model Pedido

<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Nuevo Pedido</strong>
    </h5>
    <br>
    <div class="card-body px-lg-5 pt-0">
        <form class="text-center" style="color: #757575;" asp-action="CargaPedido" method="post">
            <div class="md-form">
                <textarea asp-for="Obs"></textarea>
            </div>
            <div class="md-form">
                <select asp-for="Estado_actual">
                    <option value="0">Recibido</option>
                    <option value="1">Preparado</option>
                    <option value="2">En Camino</option>
                    <option value="3">Entregado</option>
                </select>
            </div>
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Enviar</button>
        </form>
    </div>
</div>

